
<%= @game.player_name(1) %> attacked <%= @game.player_name(2) %>!
<br>
<%= @game.player_name(1) %> HP = <%= @game.player_hp(1) %>
<br>
<%= @game.player_name(2) %> HP = <%= @game.player_hp(2) %>


<form action = '/attack'>
  <input type="submit" value="Attack!">
</form>